.modal{
	overflow-y: auto !important;
}

.modal-auxiliar .modal-body{
	padding: 0px;
}

.modal-auxiliar .modal-body .content{
	margin: 0px;
	box-shadow: none;
}

.modal-header {
	padding: 0 1rem !important;
	display: flex;
	align-items: center;
	height: 50px;
}

.modal-header > button {
	margin-left: 20px !important;
}

.swal-button--danger {
	background: #00a9dd;
}

.form-group {
	/*margin-bottom: .65rem;*/
	margin-left: 0;
	margin-right: 0;
}

.form-group label,
.form-group .form-span {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	font-size: 12px;
	color: #000;
}

.form-group label {
	font-weight: 700;
}

.form-group .form-check label {
	font-weight: normal;
}

.form-group.row .form-span {
	width: 100%;
}

.form-control {
	padding: .407rem .37rem;
	font-size: 12px;
	letter-spacing: .3px;
	font-weight: normal;
	color: #000;
}

.modal-body{
	padding: 8px 10px 0 0 !important;
}

.error-validation{
	font-size: 9px !important;
	color: #FF0000 !important;
}